<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.SeeProductOnQuicklookOverlay</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ProductSameNameAndPriceInTheOverlay</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>QuicklookLinkDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ProductOverlayDisplayed</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SearchTakesToResultPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>openTheMainPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>close</td>
<td>&nbsp;</td></tr>
</table>
