<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74b285">  <td>19/07/21 15:54:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeeProductOnQuicklookOverlay.ProductOverlayDisplayed()[pri:3, instance:tests.SeeProductOnQuicklookOverlay@4d1c005e]">ProductOverlayDisplayed</td> 
  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/07/21 15:54:33</td>   <td>3499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeeProductOnQuicklookOverlay.ProductSameNameAndPriceInTheOverlay()[pri:4, instance:tests.SeeProductOnQuicklookOverlay@4d1c005e]">ProductSameNameAndPriceInTheOverlay</td> 
  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/07/21 15:54:29</td>   <td>-1070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeeProductOnQuicklookOverlay.QuicklookLinkDisplayed()[pri:2, instance:tests.SeeProductOnQuicklookOverlay@4d1c005e]">QuicklookLinkDisplayed</td> 
  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/07/21 15:54:16</td>   <td>-13822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SeeProductOnQuicklookOverlay.SearchTakesToResultPage()[pri:1, instance:tests.SeeProductOnQuicklookOverlay@4d1c005e]">SearchTakesToResultPage</td> 
  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/07/21 15:54:34</td>   <td>4151</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeeProductOnQuicklookOverlay.close()[pri:0, instance:tests.SeeProductOnQuicklookOverlay@4d1c005e]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@403170294</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/07/21 15:53:55</td>   <td>-34487</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeeProductOnQuicklookOverlay.openTheMainPage()[pri:0, instance:tests.SeeProductOnQuicklookOverlay@4d1c005e]">&gt;&gt;openTheMainPage</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@403170294</td>   <td></td> </tr>
</table>
